body {
	overflow: hidden;
}
main {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 1rem 2.5rem 1rem 1rem;

    margin: 5rem 1rem;

	width: 100%;

}

div .image {
    width: 600px;
    height: 600px;
    margin-right: 130px;
}

.description {
    max-width: 800px;
}


@media (max-width: 1900px) {

	h1 {
		font-size: 1.5rem;
	}
	p {
		font-size: 1rem;
	}

   .description {
        max-width: 600px;
    }

	div .image {
        width: 400px;
        height: 400px;
        margin-right: 100px;
    }
 }
