body {
	overflow: hidden;
}
main {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 1rem 2.5rem 1rem 1rem;

    margin: 5rem 1rem;

	width: 100%;

}

div .image {
    width: 600px;
    height: 600px;
    margin-right: 130px;
}

.description {
    max-width: 800px;
}




footer {
	display: flex;
	flex-direction: column;
	align-items: center;

	margin-top: -2rem;
}

footer h3 span {
	color: #3ed5dd;
}

footer p {
	font-size: .75rem;
}

@media (max-width: 1900px) {
	h1 {
		font-size: 1.5rem;
	}
	p {
		font-size: 1rem;
	}

   .description {
        max-width: 600px;
    }

	div .image {
        width: 400px;
        height: 400px;
        margin-right: 100px;
    }
 }

