main {

    margin-top: 4rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	gap: 130px;
}

#description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
    align-items: center;

    max-width: 550px;

    text-align: justify;
}

h1 {
    -webkit-font-smoothing: antialiased;
    font-size: 3rem;
    text-align: center;
}

h2 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #3ed5dd;
    text-align: center;
    margin-bottom: .75rem;
}

section {
    display: flex;
	align-items: center;
	justify-content: space-around;
}
.cards {
    margin-top: -3rem;
	display: flex;
	align-items: center;
	justify-content: center;
    gap: 4rem;
}
.card {
    background-image: linear-gradient(
        90deg,
        #2b2c2c 0%,
        #292929 9%,
        #262727 18%,
        #212121 27%,
        #1f1f1f 37%,
        #1c1c1c 46%,
        #1c1c1c 55%,
        #1f1f1f 64%,
        #212121 73%,
        #262727 82%,
        #292929 91%,
        #2b2c2c 100%
      );

    width: 20%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 3rem;

    border-radius: 10px;
    opacity: .9;

    transition: transform 0.5s;

}

.card:hover {
    transform: scale(1.1);
    border: #3ed5dd 2px solid;
}

.card h2 {
    color: #fff;
}

svg {
    width: 80px;
    height: 80px;
    margin-top: -90px;
    margin-bottom: 1rem;
}

.card:hover svg {
    fill: #3ed5dd;
    stroke: white;
}

#arrow svg {
    margin-top: 1.25rem;
    fill: #3ed5dd;
    stroke: white;

    transition: all .2s linear;
}

#arrow svg:hover {
    transform: scale(1.2);
}
